.section1{
    background-color:cornflowerblue;
    width:22%;
    color: white;
    display:inline-block;
    text-align: center;
    font-family: arail,sans-serif;
    padding-top:15px;
    padding-bottom:392px;
    float:left;
    }
    .rotate{
        background-color:#d3d3d3;
        writing-mode:vertical-lr;
        height:200px;
        width:20px;
        float:left;
        display:inline-block;
        color:white;
    }
    .rotate-content{
    background-color:#90B1DB;
    heigth:200px;
    width:20px;
    padding-top:3px;
    }
    .subsection{
        margin-left:34px;
    }
    .rotate2{
        background-color:#d3d3d3;
        writing-mode:vertical-lr;
        heigth:25%;
        width:20px;
        float:left;
        display:inline-block;
        color:white;
    }
    .rotate-content2{
    background-color:#90B1DB;
    width:20px;
    height:200px;
    padding-top:3px;
    }
    .subsection2{
        margin-left:30px;
    }
    .rotate3{
        background-color:#d3d3d3;
        writing-mode:vertical-lr;
        width:20px;
        height:200px;
        float:left;
        display:inline-block;
        color:white;
    }
    .rotate-content3{
    background-color:#90B1DB;
    width:20px;
    heigth:200px;
    padding-top:3px;
    }
    .subsection3{
        margin-left:30px;
    }
    .rotate4{
        background-color:#d3d3d3;
        writing-mode:vertical-lr;
        width:20px;
        heigth:200px;
        float:left;
        display:inline-block;
        color:white;
    }
    .rotate-content4{
    background-color:#90B1DB;
    width:20px;
    height:180px;
    padding-top:3px;
    }
    .subsection4{
        margin-left:30px;
    }
    .add{
    font-size:12px;
    }
    .phoneno{
    font-size:12px;
    }
    .email{
    font-size:12px;
    }
    .facebook{
    font-size:12px;
    }
    .ref{
    font-size:12px;
    }
    .para1{
    background-color:white;
    padding:30px;
    width:90%;
    display:inline-block;
    margin-bottom:20px;
    }
    .a1{
        display:inline-block;
        font-size:25px;
    }
    .a2{
        display:inline-block;
        font-size:25px;
    }
    .a3{
        display:inline-block;
        font-size:25px;
    }
    .para2{
    display:inline-block;
    }
    .para3{
    display:inline-block;
    
    }
    .para4{
    display:inline-block;
    
    }
    .para5{
    display: inline-block;
    
    }
    .text{
    text-align:justify;
    font-size:13px;
    }
    .section2{
    display:inline-block;
    background-color:darkgray;
    width:73%;
    height:1321px;
    padding:30px;
    font-family: Arial,sans-serif;
    float:left;
    }
     .line1{
    display: inline-block;
    font-size:13px;
    }
    .line2{
    display:inline-block;
    float: right;
    font-size:13px;
    }
    .one1{
        display:inline-block;
        font-size:25px;
    }
    .para6{
    padding:10px;
    text-align: left;
    }
    .para7{
    display:inline-block;
    float:left;
    }
    .para8{
    display:inline-block;
    float:left;
    }
    .one4{
        display:inline-block;
    }
    .one5{
        display:inline-block;
        width:350px;
    }
    .one6{
        padding-left:275px;
    }
    .one7{
        display:inline-block;
        float:left;
    }
    .one8{
        display:inline-block;
        float:left;
    }
    .one9{
        padding-left:200px;
    }
    .one10{
        padding-left:60px;
    }
    .one11{
        padding-left:185px;
    }
    .one12{
        padding-left:185px;
    }